---
import "../styles/index.css";
import fotoAriel from "../img/fotoAriel.png";
import Contacto from "../components/contact.astro";
import Tecnologia from "../components/technology.astro";
import Proyecto from "../components/proyect.astro";
import contacto1 from "../img/github.png";
import contacto2 from "../img/linkedin.png";
import Default from "../img/default.png";
import js from "../img/js.png";
import ts from "../img/typescript.png";
import py from "../img/piton.png";
import cplus from "../img/default.png";
import csharp from "../img/c-.png";
import java from "../img/java.png";
import astro from "../img/astro.png";
import net from "../img/.net.png";
import ionic from "../img/ionic.png";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ariel Escobar</title>
	</head>
	<body>
		<main class="main_content">
			<nav class="nav_bar">
				<div class="perfil">
					<img src={fotoAriel.src} alt="" />
					<h1><span>A</span>riel <span>E</span>scobar</h1>
				</div>
				<div class="links">
					<a href="#inicio">INICIO</a>
					<a href="#sobre">SOBRE MÍ</a>
					<a href="#conocimiento">HABILIDADES</a>
					<a href="#proyectos">PROYECTOS</a>
					<a href="#contacto">CONTACTO</a>
				</div>
				<div class="mode"></div>
			</nav>

			<section id="inicio">
				<div class="presentacion">
					<div class="pres_left">
						<img src={fotoAriel.src} />
						<h1>Desarrollador <span>FullStack</span>.</h1>
						<button>Conoceme más</button>
						<button>Descargar CV</button>
					</div>
					<div class="pres_right">
						<h1>
							"Ayudando a convertir tus ideas en una realidad."
						</h1>
						<hr />
						<div class="pres_contacts">
							<Contacto
								link="https://github.com/arielsitocs"
								icon={contacto1.src}
								name="GitHub"
							/>
							<Contacto
								link="https://www.linkedin.com/in/ariel-escobar/"
								icon={contacto2.src}
								name="LinkedIn"
							/>
						</div>
					</div>
				</div>
			</section>

			<section id="sobre">
				<div class="about">
					<div class="about_title">
						<h1>Sobre <span>Mí</span></h1>
					</div>
					<div class="about_text">
						<p>
							Apasionado por <strong>solucionar</strong>, <strong
								>crear</strong
							> e <strong>innovar</strong>. Debido a que siempre
							me ha atraido la tecnología, me he adentrado en el
							mundo del desarrollo de manera formal desde el año
							2022. Centrandome mayormente en el área del <strong
								>desarrollo Web</strong
							> y el <strong>desarrollo de Software</strong>.
						</p>
						<br />
						<p>
							Actualmente curso la carrera de <strong
								>ingeniería informática</strong
							>, para poder incrementar mis conocimientos, además
							de complementar con <strong>estudios en casa</strong
							>, haciendo <strong>cursos</strong> y <strong
								>creando proyectos</strong
							> para adquirir experiencia en lo que más me gusta.
						</p>
						<br />
						<p>
							A lo largo de mi experiencia he podido experimentar <strong
								>muchos retos</strong
							>, como la <strong>creación de proyectos</strong> y el
							aprendizaje de <strong>nuevas tecnologías</strong> que
							pueden suponer un reto para mí. Planeo seguir con estas
							actividades durante toda mi carrera.
						</p>
					</div>
				</div>
			</section>

			<section id="conocimiento">
				<div class="skills_title">
					<h1>Mis Habilidades</h1>
				</div>

				<div class="tecnologias">
					<Tecnologia
						imagen={js.src}
						titulo="JAVASCRIPT"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={ts.src}
						titulo="TYPESCRIPT"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={py.src}
						titulo="PYTHON"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={cplus.src}
						titulo="C++"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={csharp.src}
						titulo="C#"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={java.src}
						titulo="JAVA"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={astro.src}
						titulo="ASTRO"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={net.src}
						titulo=".NET"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={ionic.src}
						titulo="IONIC"
						descripcion="Bajo/Medio"
					/>
				</div>
			</section>

			<section id="proyectos">
				<div class="proyectos_container">
					<Proyecto
						imagen={Default.src}
						titulo="Portafolio"
						descripcion="Un proyecto más personal, para darme a conocer y poder mostrar mi experiencia y habilidades."
						tecnologias={["HTML", "CSS", "JS", "ASTRO"]}
						github={"https://github.com/arielsitocs/Portfolio"}
						link={""}
					/>
					<Proyecto
						imagen={Default.src}
						titulo="Cacluladora"
						descripcion="Un proyecto más personal, para darme a conocer y poder mostrar mi experiencia y habilidades."
						tecnologias={["HTML", "CSS", "JS", "ASTRO"]}
						github={""}
						link={""}
					/>
					<Proyecto
						imagen={Default.src}
						titulo="Tienda"
						descripcion="Un proyecto más personal, para darme a conocer y poder mostrar mi experiencia y habilidades."
						tecnologias={["HTML", "CSS", "JS", "ASTRO"]}
						github={""}
						link={""}
					/>
					<Proyecto
					imagen={Default.src}
					titulo="Cajero Automático"
					descripcion="Un proyecto más personal, para darme a conocer y poder mostrar mi experiencia y habilidades."
					tecnologias={["HTML", "CSS", "JS", "ASTRO"]}
					github={""}
					link={""}
				/>						
				</div>
			</section>

			<section id="contacto">

			</section>

			<footer>
				<h1>©2024 Ariel Escobar. Todos los derechos reservados.</h1>
			</footer>
		</main>
	</body>
</html>
