---
import "../styles/index.css";
import fotoAriel from "../img/fotoAriel.png";
import Contacto from "../components/contact.astro";
import Tecnologia from "../components/technology.astro";
import contacto1 from "../img/github.png";
import contacto2 from "../img/linkedin.png";
import Default from "../img/default.png";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ariel Escobar</title>
	</head>
	<body>
		<main class="main_content">
			<nav class="nav_bar">
				<div class="perfil">
					<img src={fotoAriel.src} alt="" />
					<h1><span>A</span>riel <span>E</span>scobar</h1>
				</div>
				<div class="links">
					<a href="#inicio">INICIO</a>
					<a href="#sobre">SOBRE MÍ</a>
					<a href="#conocimiento">CONOCIMIENTO</a>
					<a href="">PROYECTOS</a>
					<a href="">CONTACTO</a>
				</div>
			</nav>

			<section id="inicio">
				<div class="presentacion">
					<div class="pres_left">
						<img src={fotoAriel.src} alt="" />
						<h1>Desarrollador <span>FullStack</span>.</h1>
						<button>Conoceme más</button>
						<button>Descargar CV</button>
					</div>
					<div class="pres_right">
						<h1>
							"Ayudando a convertir tus ideas en una realidad."
						</h1>
						<hr />
						<div class="pres_contacts">
							<Contacto
								link="https://github.com/arielsitocs"
								icon={contacto1.src}
								name="GitHub"
							/>
							<Contacto
								link="https://www.linkedin.com/in/ariel-escobar/"
								icon={contacto2.src}
								name="LinkedIn"
							/>
						</div>
					</div>
				</div>
			</section>

			<section id="sobre">
				<div class="about">
					<div class="about_title">
						<h1>Sobre <span>Mí</span></h1>
					</div>
					<div class="about_text">
						<p>
							Apasionado por <strong>solucionar</strong>, <strong
								>crear</strong
							> e <strong>innovar</strong>. Debido a que siempre
							me ha atraido la tecnología, me he adentrado en el
							mundo del desarrollo de manera formal desde el año
							2022. Centrandome mayormente en el área del <strong
								>desarrollo Web</strong
							> y el <strong>desarrollo de Software</strong>.
						</p>
						<br />
						<p>
							Actualmente curso la carrera de <strong
								>ingeniería informática</strong
							>, para poder incrementar mis conocimientos, además
							de complementar con <strong>estudios en casa</strong
							>, haciendo <strong>cursos</strong> y <strong
								>creando proyectos</strong
							> para adquirir experiencia en lo que más me gusta.
						</p>
						<br />
						<p>
							A lo largo de mi experiencia he podido experimentar <strong
								>muchos retos</strong
							>, como la <strong>creación de proyectos</strong> y el
							aprendizaje de <strong>nuevas tecnologías</strong> que
							pueden suponer un reto para mí. Planeo seguir con estas
							actividades durante toda mi carrera.
						</p>
					</div>
				</div>
			</section>

			<section id="conocimiento">
				<div class="skills_title">
					<h1>Mis Habilidades</h1>
				</div>

				<div class="tecnologias">
					<Tecnologia
						imagen={Default.src}
						titulo="JAVASCRIPT"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="JAVA"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="PYTHON"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="C++"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="C#"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="PHP"
						descripcion="Bajo"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="ASTRO"
						descripcion="Alto"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo=".NET"
						descripcion="Medio"
					/>
					<Tecnologia
						imagen={Default.src}
						titulo="IONIC"
						descripcion="Bajo/Medio"
					/>
				</div>
			</section>

			<section id="proyectos"></section>
		</main>
	</body>
</html>
